body
{
background-color:dimgrey;
color:white;
opacity:1;
}
.abc
{
background-color:grey;
width:900px;
height:50px;
margin:-10px 0px 0px 20px;
}
.ab
{
position:absolute;
background-color:grey;
width:100%;
height:150px;
margin:0px;
padding:0px;
}
.qw
{
position:absolute;
background-color:grey;
width:100%;
height:150px;
margin:0px;
padding:0px;
}
.asd
{
font-size:15px;
text-align:center;
margin:5px 15px 5px 30px;
}
.qwe
{
text-align:center;
margin-top:50px;
}
.cd
{
text-decoration:underline;
margin:100px 0px 0px 40px;
}
.a
{
margin-right:30px;
font-size:20px;
}
.b
{
margin-right:20px;
font-size:20px;
}
ul
{
color:white;
margin:0px;
padding:0px;
list-style:none;
position:center;
}
ul li
{
background-color:black;
opacity:.5;
width:200px;
height:30px;
float:left;
display:block;
text-align:center;
margin:3px;
padding:1px;
font-size:25px;
cursor:pointer;
}
ul li a
{
text-decoration:none;
color:white;
display:block;
margin:0px;
}
ul li a:hover
{
color:red;
background-color:green;
margin:0px;
}
ul li ul li 
{
display:none;
}
ul li:hover ul li
{
display:block;
margin:0px;
} 