.arun
{
margin:10px 0px 0px 900px;
}
.abc
{
background:grey;
height:100%;
width:100%;
margin:0% 0% 0% 0%;
border:5px groove grey;
border-radius:5% 50% 30% 40%;
}
.abd
{
background:grey;
height:100%;
width:100%;
margin:0% 0% 0% 0%;
border:5px groove grey;
border-radius:5% 50% 30% 40%;
}
table,th,td,tr
{
text-align:center;
padding:8px;
margin:-10px 0px 0px 50px;
}
.qqq
{
margin:0px 0px 0px 750px;
text-align:center;
padding:8px;

}
.qqw
{
margin:-430px 0px 0px 750px;
}
.zx
{
margin:0px 0px 0px 20px;
}
.z
{
margin:20px 0px 0px 400px;
}
.aa
{
margin:-350px 0px 0px 400px;
height:300px;
width:350px;
opacity:.4;
}